<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/home-page.css">
  <title>Document</title>
</head>
<body>
  <!-- navbar -->
  <div id="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Latest Manga</a></li>
      <li><a href="#">Hot Manga</a></li>
      <li><a href="#">New Manga</a></li>
      <li><a href="#">Completed Manga</a></li>
      <li><a href="#">Read Light Novel</a></li>
    </ul>
  </div>

  <!-- popular manga container -->
  <div id="popular-manga-container">
    <div class="header-popular-manga">
      <img src="/icons/thumb-up.png" alt="thumb-up">
      <h2>Popular Manga</h2>
    </div>
    <div class="" id="popular-manga-cover-page-container">
      <% for(let i=0; i<mangaCoverPages.length; i++) { %>
        <div class="manga-cover-page">
        <img src="<%= mangaCoverPages[i].coverPath %>" alt="cover-page">
        <div class="title-chapter-manga-cover-page">
          <h4 class="manga-title"><%= mangaCoverPages[i].mangaTitle %></h4>
          <h4 class="manga-chapter"><%= mangaCoverPages[i].lastChapter %></h4>
          <div class="go-to-manga-buttom">
            <a href="<%= mangaCoverPages[i].url %>"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <!-- main grid for latest manga releases, most popular manga and genres -->
  <div id="container">
    <!-- latest-manga grid area -->
    <div id="latest-manga-container">
      <!-- header latest manga -->
      <div class="header-popular-manga">
        <img src="/icons/thumb-up.png" alt="thumb-up">
        <h2>Latest Manga Realeases</h2>
      </div>
      <!-- single manga view -->
      <div id="latest-manga-view-container">
      <% for(let i=0; i<latestMangaReleases.length; i++) { %>
        <div class="latest-manga-view">
        <img src="<%= latestMangaReleases[i].coverPath %>" alt="cover-page">
        <div class="chapter-list">          
          <a class="manga-title-view"href="#"><%= latestMangaReleases[i].mangaTitle %></a>
          <% for(let j=0; j<latestMangaReleases[i].lastChapterList.length; j++) { %>
          <div class="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="latestMangaReleases[i].lastChapterList[j].url" class="chapter-number"><%=latestMangaReleases[i].lastChapterList[j].name%></a>
            <h6 class="chapter-release-date"><%=latestMangaReleases[i].lastChapterList[j].releaseDate%></h6>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
      </div>
    </div>
    
    <!-- most-popular grid area -->
    <div id="most-popular-container">
      
    </div>
    <div id="genres-container">

    </div>
  </div>

  <script>
    // Responsiveness for popular-manga-container.

    const popularMangaContainer = document.getElementById('popular-manga-cover-page-container');
    const allCoverPages = ([]).slice.call(popularMangaContainer.querySelectorAll('div.manga-cover-page')) //MAXELEMENTS = 12;

    function responsivePopularManga (event) {
      let numberOfCoverPageShown = Math.floor( parseFloat(window.getComputedStyle(popularMangaContainer).width) / 130 );

      //Delete current children
      while( popularMangaContainer.firstChild ) {
        popularMangaContainer.removeChild(popularMangaContainer.firstChild);
      }

      //Insert new ones.
      for(let i=0; i<numberOfCoverPageShown; i++) {
        popularMangaContainer.appendChild( allCoverPages[i] );
      }
    }

    window.onresize = responsivePopularManga;
    
    //The invocation is to adjust the number of elements when the page is load by first time.
    responsivePopularManga();
  </script>
</body>
</html>